

/* THis component is helping us to write both css and tailwind in the same css file   */


/*  */
.formContainer{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 shrink-0 lg:h-[50rem]   w-[40%]  shadow-xl rounded-3xl py-20 px-7 min-w-max border-gray-100;
}

/* PROFILE IMAGE FOR THE  LONGING  IMAGE  */
.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}

/* INPUT SECTION FOR USERNAME  */
.textbox{
    @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
    @apply focus:outline-none;
    @apply border
  
}

/* BUTTON */
.btn{
    @apply border border-blue-800    bg-blue-800 w-3/4 py-4 rounded-lg  text-xl shadow-sm text-center text-white;
    @apply bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 
}



